<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Recently Added URLs</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/styles.css') }}">
</head>
<body>
    <h1>Recently Added URLs</h1>

    {% if articles %}
        <ul>
        {% for article in articles %}
            <li>
                <strong >ID:</strong> {{ article.id }}<br>
                <strong >URL:</strong> <a href="{{ article.url }}" target="_blank">{{ article.url }}</a><br>
                {% if article.title %}
                    <strong >Title:</strong> {{ article.title }}<br>
                {% endif %}
                <strong >Status:</strong> {{ article.status }}<br>
                <strong >Added:</strong> {{ article.scraped_date.strftime('%Y-%m-%d %H:%M:%S') }} UTC
            </li>
            <hr>
        {% endfor %}
        </ul>
    {% else %}
        <p>No articles found.</p>
    {% endif %}

    <p><a href="/admin/">Back to Admin</a></p>
    <p><a href="/links/add">Add New URL</a></p>
</body>
</html> 